.space_Pane1 {
    -fx-background-color: #0fc0fc;
    -fx-background-radius: 3em;
}

.login {
    -fx-background-color: #3498db; /* Button background color */
    -fx-background-radius: 5em;
    -fx-padding: 10px 20px; /* Padding */
    -fx-cursor: hand; /* Hand cursor on hover */
}

.login:hover {
    -fx-background-color: ash; /* New background color for the hover state */
    -fx-text-fill: #FF5733;
}

.signup {
    -fx-background-color: #3498db; /* Button background color */
    -fx-background-radius: 5em;
}

.signup:hover {
    -fx-background-color: #8A9A5B; /* New background color for the hover state */
    -fx-text-fill: #FF5733;
}

.animated_button {
}

.animated_button:hover {
    /* -fx-transform: scale(1.1); */
    -fx-transition: all 1s;
}

.label {
}

.label:hover {
    -fx-background-color:ash; /* New background color for the hover state */
    -fx-text-fill: #FF5733;
}

.rectangle {
    -fx-background-radius: 3em;
    -fx-padding: 10px 20px;
}

.rectangle:hover {
    -fx-background-color: ; /* New background color for the hover state */
    -fx-text-fill: #FF5733;
    -fx-background-color: ash;
}

.next {
    -fx-background-color: #76ff7a;
    -fx-background-radius: 5em;
    -fx-padding: 10px 20px; /* Padding */
    -fx-cursor: hand;
}

.next:hover {
    -fx-background-color: #76ff7a; /* New background color for the hover state */
}

.tx {
    -fx-background-radius: 3em;
    -fx-padding: 10px 20px;
}

.upload {
    -fx-background-color: #3498db;
    /* -fx-border-color: #e0b0ff; */
    /* -fx-border-radius: 3em; */
    -fx-background-radius: 3em;
    -fx-padding: 10px 20px;
}

.project_pane {
    -fx-background-radius: 5em;
    border-bottom;
}

.pi_pane {
    -fx-background-radius: 50%;
}

.check-box {
    -fx-padding: 5;
}

/* Change the color of the check mark when selected */
.checkbox:selected {
    -fx-background-color: #05373c; /* Green color, change as needed */
    -fx-border-color: #b9f2ff; /* Border color same as background color */
    -fx-text-fill: black; /* Text color */
    -fx-text-fill: black;
                                                              -fx-font-family: "Cambria";
                                                                  -fx-font-size: 14px;
                                                                  -fx-font-weight: bold;
}

.minimize {
    -fx-background-color: #3498db;
    -fx-border-color: #e0b0ff;
    -fx-border-radius: 3em;
    -fx-background-radius: 3em;
    -fx-padding: 10px 20px;
}
.choice-box {
  
  -fx-mark-color: #05373c; // arrow color
}
/*Background color of the whole context menu*/
.choice-box .context-menu { -fx-background-color:#0dffea;-fx-text-fill: black;
                                                          -fx-font-family: "Cambria";
                                                              -fx-font-size: 14px;
                                                              -fx-font-weight: bold; }
/*// Focused item background color in the list*/
.choice-box .menu-item:focused { -fx-background-color: #05373c;-fx-text-fill: black;
                                                                -fx-font-family: "Cambria";
                                                                    -fx-font-size: 14px;
                                                                    -fx-font-weight: bold;
 }
/*// Text color of non-focused items in the list*/
.choice-box .menu-item > .label { -fx-text-fill: black;
 -fx-font-family: "Cambria";
     -fx-font-size: 14px;
     -fx-font-weight: bold;}
/*// Text color of focused item in the list*/
.choice-box .menu-item:focused > .label { -fx-text-fill: black;
 -fx-font-family: "Cambria";
     -fx-font-size: 14px;
     -fx-font-weight: bold;}

/* design.css *//* design.css */

                .check-combo-box .box {
                    -fx-padding: 5 10; /* Adjust padding as needed */
                }

                .check-combo-box .arrow-button {
                    -fx-padding: 5 10; /* Adjust padding as needed */
                }

                .check-combo-box .arrow-button .arrow {
                    -fx-padding: 5 10; /* Adjust padding as needed */
                }

                .check-combo-box .arrow-button .arrow-button-background {
                    -fx-padding: 5 10; /* Adjust padding as needed */
                }

                .check-combo-box-popup .list-view {
                    -fx-pref-height: 200;
                }

                /* Customize the appearance of the selected items */
                .check-combo-box-popup .list-view .list-cell:filled:selected {
                    -fx-background-color: #05373c; /* Selected item background color */
                    -fx-text-fill: black; /* Selected item text color */
                }

                /* Customize the appearance of the non-selected items */
                .check-combo-box-popup .list-view .list-cell:filled {
                    -fx-background-color: white; /* Non-selected item background color */
                    -fx-text-fill: black; /* Non-selected item text color */
                }

                /* Customize the appearance of the CheckComboBox label */
                .check-combo-box .label {
                    -fx-text-fill: black; /* Label text color */
                    -fx-font-family: "Cambria";
                    -fx-font-size: 18px;
                    -fx-font-weight: bold;
                }
                .pane-with-border {
                    -fx-border-color: #a0a0a0; /* Set the border color to a light grey */
                    -fx-border-width: 2; /* Set the border width as needed */
                    -fx-border-radius: 3em; /* Set the border radius as needed */
                    -fx-padding: 10; /* Set padding as needed */
                    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 2, 2); /* Apply a slight shadow effect */
                }
