.corners {
    -fx-background-color: linear-gradient(to bottom right, #0dffea, #05373c);
    -fx-text-fill: #000;
    -fx-border-radius: 50 0 0 50px;
    -fx-background-radius: 50 0 0 50px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 0px;
    -fx-padding: 20px;
}

.interPanes {
    -fx-background-color: linear-gradient(to bottom right, #0dffea, #05373c);
    -fx-border-radius: 0 25 25 0px;
    -fx-background-radius: 0 25 25 0px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0 0 0 0px;
    -fx-text-fill: black;
}

.icon {
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-cursor: hand; /* Change cursor to hand on hover to indicate it's clickable */
}

.icon:hover {
    /* Apply hover effect */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.icon:pressed {
    /* Apply click effect */
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.gradiant {
    -fx-background-color: linear-gradient(to bottom right, #0dffea, #05373c);
}

/* Apply styles to the AnchorPane */
.anchor-pane-with-border {
    -fx-border-color: #a0a0a0; /* Set the border color to a light grey */
    -fx-border-width: 2; /* Set the border width as needed */
    -fx-border-radius: 5; /* Set the border radius as needed */
    -fx-padding: 10; /* Set padding as needed */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 2, 2); /* Apply a slight shadow effect */
}

/* Apply hover effect if needed */
.anchor-pane-with-border:hover {
    -fx-border-color: #707070; /* Change border color on hover */
}
